
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: #FCF7F8;
    --secondary-color: #7515bf;
    --black: #121313;
    --text-white: #f2f5f7;
    --text-black: #121313;
    --acent-color: #A31621;
    --font-family: 'Roboto', sans-serif;
}
body{
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
}
h1{
    font-size: 2.5rem;
    color: var(--text-white);
    font-weight: 800;
    text-align: center;
}
span{
    font-size: 1.2rem;
    color: var(--text-white);
    display: block;
    margin: 0 auto;
    font-weight: 300;
}
header{
    display: flex;
    flex-direction: column;
    background: #0f0c29;  
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); 
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
    height: 100dvh;
    padding-bottom: 20rem;
}
.information{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-top: 16rem;
}
nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blur(10px);
    backdrop-filter: blur(10px);
    position: fixed;
    padding: 1rem 0;
}
ul{

    display: flex;
    justify-content: center;
    list-style: none;
    gap: 2rem;
    margin-top: 1rem;
    width: 100%;
}
a{
    text-decoration: none;
    color: var(--text-white);
    font-weight: 300;
    transition: color 0.2s ease;
    
}
a:hover{
    border: 1px var(--acent-color);
    color: var(--acent-color);
    font-weight: 500;
}
.button{
    padding: 0.5rem 1rem;
    background-color: var(--acent-color);
    color: var(--text-white);
    border: none;
    border-radius: 5px;
    font-family: var(--font-family);
    font-weight: 500;
    transition: background-color 0.3s ease;
}
.button:hover{
    background-color: var(--white);
    color: var(--acent-color);
    box-shadow: var(--acent-color) 0px 0px 20px;
    border: 1px solid var(--acent-color);
}