---
const { title, link } = Astro.props;
---

<li class="text-sm"><a href={link} class="mobile-menu-link text-gray-200 lg:text-gray-400 text-4xl lg:text-base hover:text-primary transition-colors">{title}</a></li>