---
const { title, link } = Astro.props;
---

<li class="text-sm"><a href={link} class="mobile-menu-link text-black-700 lg: text-black-400 text-4xl lg:text-base hover:text-brand-primary transition-colors">{title}</a></li>