@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Altroned';
    src: url('/Public/Font/ALTRONED.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    font-display: swap;
}

@font-face {
    font-family: 'Aloe-bold';
    src: url('/Public/Font/AloeveraDisplay-Bold.woff2') format('woff2');    
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    font-display: swap;
}

@font-face {
    font-family: 'Aloe-regular';
    src: url('/Public/Font/AloeveraDisplay-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: #FCF7F8;
    --acent-color: #c73476;
    --secondary-color: #7515bf;
    --black: #121314;
    --text-white: #f8f5f0;
    --text-black: #121314;
    --Aloe-regular: 'Roboto', sans-serif;
    --Aloe-bold: 'Aloe-bold', sans-serif;
    --special-font: 'Altroned', sans-serif;
    --gray-300: #6e6e6e;
    --gray-100: #c2bfbf;
    --bg-1: #0a0a0a;
    --bg-2: #161617;
    
}
html{
    
    scroll-behavior: smooth;
    font-size: 1rem;
    width: 100%;
    height: 100%; 
    background: #0a0a0a;
    font-family: var(--Aloe-regular); 
    
}

body{
    position: relative;
    color: var(--text-white);
    margin: 0 auto;
    width: 100%;
    height: 100dvh;
    padding: 0;
}
main{
    width: screen;  
    height: auto;
    margin: 0 auto;
    position: relative;
    height: 100dvh; 
    
}
.name{
    font-family: var(--special-font);
    font-size: 1.2rem;
    color: var(--text-white);
    font-weight: 400;
    text-align: start;
    width: auto;
    height: 15px;
    
}

header{
    margin: 0 auto;
    display: flex;
    flex-direction: column; 
    justify-content: end;
    min-height: 100dvh;
    background-clip: url('/Public/Videos/Ave1.mp4');
    position: relative;
}
.bg-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.3;
}

.information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    height: 100%;
    width: 100%;
    padding: 1.5rem 0;
}

.container{
    overflow: hidden;
    width: 100%;
    height: auto;
}

.left-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    height: auto;
    padding: 0 1rem;
    
    
}
.left-text h1{
    font-size: 1rem;
    text-align: start;
    font-weight: 300;
    width: 100%;
    line-height: 1.5rem;
}
.left-text p{
    font-size: 1rem;
    text-align: start;
    width: 100%;
    
}

.right-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 0.5rem;
    width: 100%;
    height: auto;
    padding: 0 1rem;
 
}
.right-text :last-child {
    font-size: 1rem;
    text-align: end;
    width: 100%;
    font-weight: 300;
    line-height: 1.5rem;
    
}
.right-text p{
    font-size: 1rem;
    text-align: end;
    width: 100%;
}
.title{
    
    font-size: 1.2rem;
    color: var(--text-white);
    font-weight: 600;
    width: 100%;
    
}

.main-title {
    
    font-size: 1.2rem;
    color: var(--text-white);
    width: 100%;
    
}

h2{
    font-family: var(--font-family);
    font-size: 2rem;
    color: var(--text-white);
    font-weight: 600;
    text-align: center;
}




.cv-btn{
    text-decoration: none;
    color: var(--white);
    font-weight: 300;
    font-size: 0.8rem;
    padding: 0.5rem;
    border-radius: 50%;
    border: 1px solid var(--white);
    transition: all 1s ease;
    background-color: #0a0b0c;
   
}

.cv-btn:hover{
    background-color: var(--white);
    color: var(--text-black);
    font-weight: 600;
}
.menu-icon{
    display: block;
    background-color: none;
    
    
}
.icons{
    width: 20px;
    height: 20px;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    padding: 0 1.5rem 0 1rem;
    backdrop-filter: blur(10px);
    background-color: #2d2e2f00;
    z-index: 10;

}

.menu-hamburguer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #121314;
    border: none;
    color: none;
    
}
.menu-hamburguer:hover{
    cursor: pointer;
    color: var(--acent-color);
}

.line{
    width: 25px;
    height: 3px;
    background-color: var(--white);
    margin: 3px 0;
    border-radius: 2px;
   
}
.logo{
    display: none;
    width: auto;
    height: 20px;
}
nav ul{
    display: none;
    justify-content: center;
    list-style: none;
    width: 100%;
    gap: 2rem;
    height: auto;
    margin: 0 auto;

}

#menuDialog {
    margin: 0 auto;
    background: transparent;
    inset: 0;
    border: none;
    margin: 0;
    padding: 0;
    width: 100dvw;   
    height: 100dvh; 
    max-width: 100dvw;
    max-height: 100dvh;
    background: transparent;
  }
#menuDialog::backdrop {
    margin: 0 auto;
    background: #38373780;
  }
   
.sidebar {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 100%;
    max-height: 100%;
    background: -webkit-linear-gradient(to right, #16161c, #0b0a17, #0f0c29); 
    background: linear-gradient(to right, #0a0a0a, #171718, #0a0a0a);
    color: white;
    padding: 0.6rem 0.4rem 4rem 0;
    transform: translatey(-100%);
    transition: transform 0.2s ease-in;
    height: max-content;
    border-bottom: 2px solid var(--grayneutral);
  }
  #closeMenu {
    position: inherit;
    align-self: flex-end;
    background: none;
    padding-right: 1.5rem;
    
  }

  /* Cuando el dialog está abierto, el sidebar entra */
  #menuDialog[open] .sidebar {
    transform: translatey(0);
        
  }
.menu-mobile{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
    padding-left: 2rem;
}
.menu-mobile a {
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    gap: 8px;
  }

.menu-mobile a:hover {
    color: #00c4ff;
  }

  .menu-mobile p{
    color: var(--acent-color);
  }
  
#closeMenu{
        box-shadow: none;
        border: none;
        
    }
li{
    display: flex;
    text-align: center;
    justify-content: center;

}
ul li a {
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
    color: var(--text-white);
    font-weight: 300;
    transition: color 0.2s ease;

}
a{
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
    color: var(--text-white);
    font-weight: 300;
    transition: border color 0.2s ease;
    
}
ul li a:hover{
    border: 1px var(--acent-color);
    color: var(--acent-color);

}

.language{
    display: none;
    gap: 0.5rem;
   
}
.language-button{
    background: none;
    border: none;
    color: var(--text-white);
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 300;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.language-button:hover{
    color: var(--acent-color);
    
}

         
.button{
    background-image: linear-gradient(to right, #0a0b0c 0%, #aa2c65  51%, #0a0b0c  100%);
    padding: 1.2rem 1rem;
    text-align: center;
    width: 100%;

    transition: 0.3s ease;
    background-size: 200% auto;
    color: var(--text-white);            
    box-shadow: 0 0 1rem #d00b46;
    border-radius: 50px;
    display: block;
    font-weight: 400;
}
.button:hover{
    background-position: right center; 
    color: var(--text-white);
    text-decoration: none;
            
}
.text-about a{
    margin-top: 1rem;
}    

.CTAs{
   
    width: 100%;
    margin-top: 1.5rem;
    transform: opacity 0s ease-in;
    animation : aparecer 1.3s ease-out forwards;
    padding: 0 4rem;
    max-width: 400px; ;
}
.text-icon{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.tecnologies-section{
    
    
    gap: 1rem;
    animation : subir 2s ease-out forwards;
}
@keyframes subir {
    0% {
      
      transform: translateY(100%);
      opacity: 0;
    }
    80%{
      
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      
      transform: translateY(0);
        opacity: 1;
    }}

.tecnologies{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .8rem;
    overflow-x: scroll;
    background-color: var(--bg-2);
    padding: 1rem;
    
}
.text-info{
    margin-bottom: 1rem;
}
.text-info :first-child {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}


.item-tecnologies{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    
    border-radius: 1rem;
    gap: 0.8rem;
    padding: 0.5rem 0.5rem;
}

.item-tecnologies p{
    display: flex;
    width: auto;
    font-family: var(--font-family);
    font-size: 0.8rem;
    color: var(--gray-100);
    text-align: center;
    font-weight: 400;
}

/*styles for all best projects section */

.all-best-projects{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 2rem;
    gap: 0;
    max-height: 100dvh; 
    scroll-snap-align: start;
    height: 100dvh;
     
}
.all-best-projects> h2{
    
    padding-bottom: 2rem;
    text-align: left;
    padding-left: 1rem;
    width: 100%;
    height: auto;
    font-size: 2rem;
    
    
}
.container-projects{
  position: relative;
  scroll-snap-type: y mandatory; 
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  border-top: 4px solid var(--text-white);
  border-bottom: 4px solid var(--text-white);
  
}

.project {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: normal;
    
    
}

/*styles for best projects section */

.video-project{
    height: auto;
    width: 100%;
}
.video-project video{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.project-info{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    gap: 1rem;
    width: 100%;
    text-align: left;
    padding: 1rem;
    height: 100%;
}

.project-info h2{
    font-size: 1.4rem;
    text-align: left;
    font-weight: bold;
}
.project-info p{
    text-align:start;
    font-size: 1rem; 
    line-height: 2rem;
    color: var(--gray-100);
    
    

}
.list-mots{
    color: var(--text-white);
    
    

}
.list-mots ul{
display: flex;
flex-direction: column;
justify-content: start;
align-items: start;
gap: 0.5rem;
width: 100%;

}
.list-mots ul li{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.9rem;
    font-weight: 500;

}
.list-mots ul li span{
    font-size: 1rem;
}
.skills{
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    font-weight: 200;
    color: var(--grayneutral);

}
.list-mots ul li span{
    font-size: 0.7rem;
    text-align: right;
    align-self: end;
    padding: 0;
    margin: 0;
    line-height: 1.5rem;
}
.see-page{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 0;
    
    
    
}



/*styles for the about section */

.about-me {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    color: var(--text-white);
    height: 100dvh;
    align-items: center;
    gap: 1rem;
    padding: 1rem ;
    scroll-snap-align: start;


}
.text-about {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    text-align: start;
    gap: 1rem;
    height: 100%;
}

.text-about h2 {
    font-size: 2rem;
    font-weight: 600;
}
.text-about p {
    text-align:start;
    font-size: 1rem; 
    line-height: 1.5rem;
    width: 100%;
}

.text-about div :nth-child(2) {
    padding-bottom: 1rem;
    text-align: end;
}
.text-about div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.video-about {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.video-about video {
    object-fit: cover;
    height: 100%;
    width: 100%;
}



/*styles for the projects section */

.projects {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 100%;
    height: 100dvh;
    gap: 2rem;
    padding: 1rem;
    scroll-snap-align: start;


}
.text-projects {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    max-width: 600px;
    text-align: start;
    gap: 1rem;
    height: 100%;
}
.text-projects h2 {
    font-size: 2rem;
    font-weight: 600;
}
.text-projects>p {
    text-align:start;
    font-size: 1.2rem; 
    line-height: 2rem;
}
.text-projects:nth-child(3) {
    padding-bottom: 1rem;
}

.image-projects img {
    display: none;
    width: 100%;
    max-width: 600px;
    height: auto;
}

.projects-important {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 1rem;
    
}
.item-projects-important {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background-color: #1d1e1f;
    border-radius: 8px;
    gap: 0.3rem;
    padding: 0.5rem 1rem;
    
}
.item-projects-important:hover {
    background-color: #2d2e2f;
    transition: all 0.3s ease;
}
.projects-important:nth-child(1) {
    background-image: url('/Public/Projects.png');
}
.item-projects-important p{
    font-family: var(--font-family);
    font-size: 0.8rem;
    line-height: 1.5rem;
    color: var(--text-white);
    text-align: start;
    font-weight: 400;
}
.item-projects-important h3 {
   display: flex;
   gap: 0.5rem;
}
.item-projects-important img{
    width: 50px;
    height: auto;
    object-fit: cover;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f1f1f;
    padding: 2rem 1rem;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    gap: 1rem;
    scroll-snap-align: end;
}
footer p {
    font-size: 0.8rem;
    color: var(--text-white);
    font-weight: 300;
    text-align: center;

}
.footer-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0.5rem 0;
    gap: 3rem;
}
.footer-text-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-white);
    height: auto;
}

.footer-text-info p {
    
    font-size: 0.9rem;
    max-width: 700px;
}
.other-media{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    height: auto;
}

.other-media p {
    font-size: 0.8rem;
    
}
h5 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    
}
h6 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.social-media{
    display: flex;
    gap: 1rem;
    height: 24px;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap: 0.3rem;
    width: 100%;
    height: auto;
}
.contact p{
    text-align: end;
    font-size: 1rem;
}
.conntact p a{
    color: var(--text-white);
    
}
.conntact p a:hover{
    color: var(--acent-color);
    
}
.contact a{
    color: var(--text-white);
    text-decoration: none;
    font-weight: 300;
}
.contact a:hover{
    color: var(--acent-color);
    
}
.all-rights{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
    width: 100%;
}
.all-rights a{
    font-size: 0.8rem;
}
.all-rights a:hover{
    font-weight: 300;
    color: var(--acent-color);
}
.btn{
    padding: 0.5rem 1rem;
    border: 1px solid var(--white);
    border-radius: 8px;
}




@media (min-width: 768px) {
    h1{
        font-size: 3.5rem;
    }
    .projects-important {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
    }
    .item-projects-important {
        display: flex;
        max-width: 100%;
        height: auto;
        padding: 0.2rem;
        align-items: start;
        justify-items: start;
    }

    .item-projects-important p,h3 {
        text-align: start;
    }
    .item-projects-important img {
        width: 54px;
        height: auto;
    }
       .image-projects img {
        max-width: 70%;
        
    }
     footer {
        padding: 2rem 1rem 1rem 1rem;
    }
    .footer-items {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 2rem;
    }
    .footer-text-info {
        align-items: center;
        text-align: center;
        max-width: 100%;
    }
    .footer-text-info p {
        text-align: center;
        max-width: 100%;
    }
    .other-media{
        align-items: center;
        text-align: center;
    }
    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .all-rights p{
        font-size: 0.7rem;
    }
    .all-rights a{
        font-size: 0.7rem;
    }   
    h5, h6 {
        text-align: center;
    }
    .best-projects{
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    flex-direction: column;
}
}


@media (min-width: 1024px) {
    main {
  overflow-y: auto; /* asegúrate de que tenga scroll */
}

/* Fondo del scrollbar */
main::-webkit-scrollbar {
  width: 8px; /* ancho de la barra */
}


/* Fondo del track (la parte fija) */
main::-webkit-scrollbar-track {
  background: #0a0a0a; /* color de fondo del scroll */
}

/* Color de la barra que se mueve */
main::-webkit-scrollbar-thumb {
  background-color: var(--gray-300); /* color del thumb */
  border-radius: 4px;
}

/* Efecto hover */
main::-webkit-scrollbar-thumb:hover {
  background-color: var(--acent-color);
}

    h1{
        font-size: 4rem;
    }
    h2{
        font-size: 5rem;
    }
    nav { 
        backdrop-filter: blur(0px);
    }
    nav ul{
        display: none
    ;
    }
    span{
        font-size: 1.3rem;
    }
   
    .menu-icon{
        display: flex; 
        flex-direction: column;
        position: fixed;
        top: 0.5rem;
        right: 0.5rem;
         background-color: #121314;
         gap: 0;
         border: none;
         padding: 0.4rem 0.8rem;
         border-radius: 4px;
         border: 1px solid var(--acent-color);
         margin: 0.5rem;
        cursor: pointer;
    }
    
    
    
    
    .menu-icon span{
        font-size: 0.7rem;
        color: var(--text-white);
        font-weight: 300;
    }
    .logo{
        display: none;
    }
    .language{
        display: none;
    }
.tecnologies{
    overflow-x: hidden;
}
    .about-me {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100dvh;
    }
    .text-about {
        padding: 3rem;
    }
    .text-about div :nth-child(2) {
        align-self: end;
    }
    .image-about {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .image-about img {
        max-width: 70%;
        
    }
    .container-projects{       
    scrollbar-width: none;
    }
    .project{
        position: sticky;
        flex-direction: row;
        gap: 3rem;
        
    
    }

    .project:nth-child(even){
        flex-direction: row-reverse;
    }
    .project:last-child{
        scroll-snap-align: end;
        
    }
     .project-info{
        width: 50%;
        padding: 3rem 3rem;
        justify-content: center;
    }

    .video-project {
        height: 100%;
        width: 100%;
    }
    .video-project video{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .image-projects img {
        max-width: 40%;
        
    }
    
   
}


