
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'ALTRONED';
    src:
         url('/Public/Font/ALTRONED.woff') format('woff'), 
         url('/Public/Font/ALTRONED.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: #FCF7F8;
    --secondary-color: #7515bf;
    --black: #121313;
    --text-white: #f2f5f7;
    --text-black: #121313;
    --acent-color: #c73476;
    --font-family: 'Roboto', sans-serif;
    --special-font: 'ALTRONED', sans-serif;
    --grayneutral: #6e6e6e;
}
html{
    scroll-behavior: smooth;
    font-size: 1rem;
    width: 100%;
    height: 100%; 
    background: -webkit-linear-gradient(to right, #16161c, #0b0a17, #0f0c29); 
    background: linear-gradient(to right, #0a0a0a, #171718, #0a0a0a);
    margin: 0 auto;
    padding: 0;
}   
body{
    font-family: var(--font-family);    
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: auto;
    position: relative;
    padding: 0;
}
main{
    max-width: screen;  
    height: auto;
    margin: 0 auto;
}
h1{
    font-family: var(--special-font);
    font-size: 4rem;
    color: var(--text-white);
    font-weight: 800;
    text-align: center;
    
}
h2{
    font-family: var(--font-family);
    font-size: 2rem;
    color: var(--text-white);
    font-weight: 600;
    text-align: center;
    
}
span{
    font-family: var(--font-family);
    font-size: 0.96rem;
    color: var(--text-white);
    display: block;
    margin: 0 auto;
    font-weight: 300;
    margin-top: 0.5
    rem;
}
p{
    font-family: var(--font-family);
    font-size: 0.9rem;
    color: var(--text-white);
    font-weight: 300;
    text-align: center;
}
header{
    margin: 0 auto;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    height: 100dvh;
    padding-bottom: 1rem;
}
.information{
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    
}
.cv-btn{
    text-decoration: none;
    color: var(--white);
    font-weight: 300;
    font-size: 0.8rem;
    padding: 0.5rem 1.5rem;
    border-radius: 50px;
    border: 1px solid var(--white);
    transition: all 0.3s ease;
    background-color: #0a0b0c;
}
.cv-btn:hover{
    background-color: var(--white);
    color: var(--text-black);
    font-weight: 600;
}
.menu-icon{
    display: none;
    
    
}
nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    backdrop-filter: blur(16px);
    height: 60px;
    padding: 1rem;
    transform: translateY(-100%);
    animation: Navbar 1s ease-in-out forwards;


}

@keyframes Navbar {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
    
}


.logo{

    width: auto;
    height: 20px;
}
ul{
    display: flex;
    justify-content: center;
    list-style: none;
    width: 100%;
    gap: 2rem;
    height: auto;
    margin: 0 auto;

}

#menuDialog {
    margin: 0 auto;
    background: transparent;
    inset: 0;
    border: none;
    margin: 0;
  padding: 0;
  width: 100dvw;   
  height: 100dvh; /* alto completo */
  max-width: 100dvw;
  max-height: 100dvh;
  background: transparent;
  }
#menuDialog::backdrop {
    margin: 0 auto;
    background: #38373780;
  }
   
.sidebar {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 100%;
    max-height: 100%;
    background: -webkit-linear-gradient(to right, #16161c, #0b0a17, #0f0c29); 
    background: linear-gradient(to right, #0a0a0a, #171718, #0a0a0a);
    color: white;
    padding: 0.6rem 0.4rem 4rem 0;
    transform: translatey(-100%);
    transition: transform 0.2s ease-in;
    height: max-content;
    border-bottom: 2px solid var(--grayneutral);
  }
  #closeMenu {
    position: inherit;
    align-self: flex-end;
    background: none;
    padding-right: 1.5rem;
    
  }

  /* Cuando el dialog está abierto, el sidebar entra */
  #menuDialog[open] .sidebar {
    transform: translatey(0);
        
  }
.menu-mobile{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
    padding-left: 2rem;
}
.menu-mobile a {
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    gap: 8px;
  }

.menu-mobile a:hover {
    color: #00c4ff;
  }

  .menu-mobile p{
    color: var(--acent-color);
  }
  
#closeMenu{
        box-shadow: none;
        border: none;
        
    }
li{
    display: flex;
    text-align: center;
    justify-content: center;

}
ul li a {
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
    color: var(--text-white);
    font-weight: 300;
    transition: color 0.2s ease;

}
a{
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
    color: var(--text-white);
    font-weight: 300;
    transition: border color 0.2s ease;
    
}
ul li a:hover{
    border: 1px var(--acent-color);
    color: var(--acent-color);

}

.language{
    display: flex;
    gap: 0.5rem;
   
}
.language-button{
    background: none;
    border: none;
    color: var(--text-white);
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 300;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.language-button:hover{
    color: var(--acent-color);
    
}

         
.button{
    background-image: linear-gradient(to right, #0a0b0c 0%, #aa2c65  51%, #0a0b0c  100%);
    padding: 0.8rem 3rem;
    text-align: center;
    transition: 0.3s ease;
    background-size: 200% auto;
    color: var(--text-white);            
    box-shadow: 0 0 1rem #d00b46;
    border-radius: 50px;
    display: block;
    font-weight: 400;
}
.button:hover{
    background-position: right center; 
    color: var(--text-white);
    text-decoration: none;
            
}
.text-about a{
    margin-top: 1rem;
}    


.CTAs{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2rem;
    margin-top: 1.5rem;
}
.text-icon{
    display: flex;
justify-content: center;
align-items: center;
gap: 0.5rem;


}

.tecnologies{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: .8rem;
    margin: 1rem 1rem;
}
.item-tecnologies{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: #1d1e1f;
    border-radius: 1rem;
    gap: 0.8rem;
    padding: 0.5rem 0.5rem;
}
.item-tecnologies img{
    width: 30px;
    object-fit: contain;
}
.item-tecnologies p{
    font-family: var(--font-family);
    font-size: 0.8rem;
    color: var(--text-white);
    text-align: center;
    font-weight: 400;
}

/*styles for all best projects section */

.all-best-projects{
    display: flex;
    flex-direction: column;
    background-color:#1c1c1c ;
    height: auto;
    width: 100%;
    padding: 4rem;

}
.all-best-projects h2{
    margin-bottom: 1rem;
    
}


/*styles for best projects section */

.best-projects{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80dvh;
    width: 100%;
    gap: 4rem;
    padding: 0 2rem;
}


#best-projects-2{
    flex-direction: row-reverse;

}
.video-project video{
    width: 100%;
    height: auto;
    border-radius: 1rem;
   -webkit-box-shadow: 0px 0px 18px 4px #000000a6; 
box-shadow: 0px 0px 18px 4px #000000a6;

}
.project-info{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 0.8rem;
    max-width: 600px;
    text-align: center;
}

.project-info h2{
    font-size: 1.5rem;
}
.project-info p{
    text-align:start;
    font-size: 1rem; 
    line-height: 2rem;
    margin-bottom: 1rem;

}
.list-mots{
    color: var(--text-white);
    margin-bottom: 2rem;

}
.list-mots ul li{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.2rem;
    font-size: 0.9rem;

}
.list-mots ul li span{
    font-size: 0.7rem;
}
.see-page{
    display: flex;
justify-content: center;
align-items: center;
gap: 0.5rem;


}



/*styles for the about section */

.about-me {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 2rem 2rem;
    color: var(--text-white);
    height: 100dvh;
    align-items: center;
    gap: 4rem;
    padding: 4rem;


}
.text-about {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    max-width: 600px;
    text-align: start;
    gap: 1rem;
}
.text-about h2 {
    font-size: 2rem;
    font-weight: 600;
}
.text-about p {
    text-align:start;
    font-size: 1.2rem; 
    line-height: 2rem;
}
.text-about:nth-child(4) {
    padding-top: 1rem;
}

.image-about img {
    width: 100%;
    max-width: 500px;
    height: auto;
}



/*styles for the projects section */

.projects {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 2rem 2rem;
    color: var(--text-white);
    height: 100dvh;
    align-items: center;
    gap: 4rem;
    padding: 0 4rem;


}
.text-projects {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    max-width: 600px;
    text-align: start;
    gap: 1rem;
}
.text-projects h2 {
    font-size: 2rem;
    font-weight: 600;
}
.text-projects>p {
    text-align:start;
    font-size: 1.2rem; 
    line-height: 2rem;
}
.text-projects:nth-child(3) {
    padding-bottom: 1rem;
}

.image-projects img {
    width: 80%;
    max-width: 500px;
    height: auto;
}

.projects-important {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    gap: 1rem;
    margin-top: 1rem;
}
.item-projects-important {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 300px;
    background-color: #1d1e1f;
    border-radius: 1rem;
    gap: 0.8rem;
    padding: 2rem 2rem;
}
.item-projects-important:hover {
    background-color: #2d2e2f;
    transition: all 0.3s ease;
}
.projects-important:nth-child(1) {
    background-image: url('/Public/Projects.png');
}
.item-projects-important p{
    font-family: var(--font-family);
    font-size: 0.8rem;
    color: var(--text-white);
    text-align: start;
    font-weight: 400;
}
.item-projects-important h3 {
   display: flex;
   gap: 0.5rem;
}
.item-projects-important img{
    width: 100px;
    height: auto;
    border-radius: 0.5rem;
    object-fit:cover;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    background-color: #1f1f1f;
    padding: 2rem;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    gap: 1rem;
}
footer p {
    font-size: 0.8rem;
    color: var(--text-white);
    font-weight: 300;
    text-align: center;

}
.footer-items {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    width: 100%;
    height: auto;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0.5rem 0;
}
.footer-text-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: var(--text-white);
    height: auto;
}

.footer-text-info p {
    text-align: start;
    font-size: 0.9rem;
    max-width: 700px;
}
.other-media{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    gap: 0.3rem;
    width: 100%;
    height: auto;
}

.other-media p {
    font-size: 0.8rem;
    
}
h5 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    text-align: left;
}
h6 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.social-media{
    display: flex;
    gap: 1rem;
    height: 24px;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 0.3rem;
    width: 100%;
    height: auto;
}
.contact p{
    text-align: end;
    font-size: 1rem;
}
.conntact p a{
    color: var(--text-white);
    
}
.conntact p a:hover{
    color: var(--acent-color);
    
}
.contact a{
    color: var(--text-white);
    text-decoration: none;
    font-weight: 300;
}
.contact a:hover{
    color: var(--acent-color);
    
}
.all-rights{
    display: flex;
    gap: 0.3rem;
}
.all-rights a{
    font-size: 0.8rem;
}
.all-rights a:hover{
    font-weight: 300;
    color: #0d82e9;
}
.whatsapp-btn{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

/*laptop sm*/

@media (max-width: 1024px) {
    h1{
        font-size: 2.5rem;
    }
    nav { 
        backdrop-filter: blur(0px);
    }
    nav ul{
        display: none
    ;
    }
    span{
        font-size: 0.79rem;
    }
   
    .menu-icon{
        display: flex; 
        flex-direction: column;
        position: fixed;
        top: 0.5rem;
        right: 0.5rem;
         background-color: #121314;
         gap: 0;
         border: none;
         padding: 0.4rem 0.8rem;
         border-radius: 4px;
         border: 1px solid var(--acent-color);
         margin: 0.5rem;
        cursor: pointer;
    }
    
    
    
    
    .menu-icon span{
        font-size: 0.7rem;
        color: var(--text-white);
        font-weight: 300;
    }
    .logo{
        display: none;
    }
    .language{
        display: none;
    }

    .about-me {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
    }
    .text-about {
        text-align: center;
        max-width: 100%;
    }
    .image-about {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .image-about img {
        max-width: 70%;
        
    }
    .projects {
        flex-direction: column-reverse;
        
        align-items: center;
        justify-content: center;
        height: auto;

    }
    .text-projects {
        text-align: center;
        max-width: 100%;
    }
    .image-projects {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .image-projects img {
        max-width: 40%;
        
    }
    .item-projects-important h3::after {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: url('/Public/ArrowForwad.svg');
        background-size: cover;
        background-repeat: no-repeat; 
        justify-content: center;  
        align-items: center;
        align-content: center;
    }
    .best-projects{
        flex-direction: column;
        height: auto;
    }
    .project-info{
        width: 100%;
    }
}
/*Tablet*/

@media (max-width: 800px) {
    .projects-important {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
    }
    .item-projects-important {
        display: flex;
        max-width: 100%;
        height: auto;
        padding: 1rem 1rem;
        align-items: start;
        justify-items: start;
    }

    .item-projects-important p,h3 {
        text-align: start;
    }
    .item-projects-important img {
        width: 54px;
        height: auto;
    }
       .image-projects img {
        max-width: 70%;
        
    }
     footer {
        padding: 2rem 1rem 1rem 1rem;
    }
    .footer-items {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 2rem;
    }
    .footer-text-info {
        align-items: center;
        text-align: center;
        max-width: 100%;
    }
    .footer-text-info p {
        text-align: center;
        max-width: 100%;
    }
    .other-media{
        align-items: center;
        text-align: center;
    }
    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .all-rights p{
        font-size: 0.7rem;
    }
    .all-rights a{
        font-size: 0.7rem;
    }   
    h5, h6 {
        text-align: center;
    }
    .best-projects{
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    flex-direction: column;
}
}
/*Mobile*/

@media (max-width: 500px) {
    main{
        margin: 0 auto;
    }
    h1{
        font-size: 1.5rem;
    }
    span{
        font-size: 0.7rem;
        max-width: 300px;
    }
    nav ul{
        display: none
    ;
    }
    .button{
        padding: 0.5rem 2rem;
        font-size: 0.8rem;
    }
    h2{
        font-size: 1.2rem;
    }
    p{
        font-size: 0.8rem;
    }

    .item-tecnologies{
        width: 70px;
        height: 70px;
        gap: 0.5rem;
        padding: 0.2rem 0.2rem;
    }
    .item-tecnologies img{
        width: 15px;
    }
    .item-tecnologies p{
        font-size: 0.6rem;
        color: var(--text-white);
    }

    .menu-icon{

        
        padding: 0.2rem 0.4rem;
        
    }
    .menu-icon span{
        font-size: 0.5rem;
    }
    .text-about p{
        font-size: 1rem;
        line-height: 1.5rem;
    }
      .text-projects p{
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .projects{
        padding: 0;
    }
    .about-me{
        padding: 0;
    }
   .all-best-projects{
    padding: 2rem 0 0 0;
    margin-top: 2rem;
   }
   .all-best-projects>p{
    padding: 0 3rem;
    line-height: 1.5rem;
   }
   .best-projects {
    flex-direction: column;
    margin: 2rem 0.5rem;
   }
   #best-projects-2{
    flex-direction: column;
    margin: 2rem 0;
   }

}
